.characterList {
    max-width: 75rem;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fcbc24;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding-left: 0;
}