@use '../core/variables' as *;

.footer {
    background-color: $color_primary;
    padding: 40px 0;
    text-align: center;
    margin-top: 100px;

    &__text {
        font-size: 1rem;
        font-weight: 500;
        color: black;
    }
}